* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.top-bar {
    background-color: #005CFF;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
}

.content {
    color: #FFFFFF;
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
}

.preco {
    background-color: #6220C1;
    border-radius: 4px;
}

.desconto {
    font-weight: 400;
}

.main-header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #ccc;
    width: 500px;
    border-radius: 11px;
    font-weight: 700;
    margin-top: 5px;
}

.profile {
    font-family: Nunito sans;
    font-weight: 600;
    font-size: 12px;
    width: 80px;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    align-items: center;
    width: auto;
}

.profile img {
    margin-right: 4px;
    /* Espaçamento apenas à direita do ícone */
}


.departments-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 12px;
    padding: 10px 0;
    gap: 35px;
}

.departments-menu li a {
    text-decoration: none;
    font-family: Nunito sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.menu-category {
    all: unset;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    display: inline;
    font-weight: 700;
    font-family: Nunito sans;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.search-bar button {
    position: absolute;
    right: 250px;
    top: 34%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    z-index: 2
}

.search-bar-img {
    width: 18px;
    height: 18px;
    margin-top: 12px;
}


#search-text {
    font-family: Nunito sans;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 700
}


.right-side {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    /* Move tudo para a direita */

}

.left-side {
    padding: 16px;
}

.search-bar {
    padding-right: 13rem;
    position: relative;
    height: 60px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.super-sale {
    display: flex;
    margin-top: 10px;
    background-color: #E7E7EA;
    width: 100%;
}

.super-sale-img {
    margin-left: 100px;
}

.super-sale-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5rem;
}

.super-sale-tittle span {
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 130px;
}

.super-sale-tittle {
    font-family: Nunito sans;
    font-size: 130px;
    font-weight: 300;
}

.super-sale-content h2 {
    font-family: Nunito sans;
    color: #005CFF;
    font-size: 25px;
    letter-spacing: 15px;
    margin-top: 8px;
}

.super-sale-price {
    font-family: Nunito sans;
    color: #005CFF;
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
}

.carrossel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    width: 1400px;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px;
}

.carrossel .card-lancamento {
    width: 20%;
    flex-shrink: 0;
    padding: 0 10px;
    box-sizing: border-box;
    

}

.card-lancamento {
    background-color: white;
    border-radius: 8px;
    border: solid 1px #e0e0e0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.badge {
    width: 44px;
    margin-top: 8px;
    left: 10px;
    background-color: #00264E;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 8px;
    padding: 5px 5px;
    margin-top: 7px;
}

.card-img {
    background-color: #eee;
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 16px;
}

.card-tittle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #303030;
    line-height: 1.3;
    font-family: Nunito sans;
    text-align: center;
}

.card-price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.price-origin {
    font-size: 12px;
    color: #303030;
    text-decoration: line-through;
    font-weight: 400;
}

.price-atual {
    font-size: 16px;
    font-weight: 700;
    color: #005CFF;
    font-family: Nunito sans;
    color: #000000;
}

.card-desconto {
    background-color: #5EC0BE;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-bottom: 12px;
    display: inline-block;
    font-family: Nunito sans;
    font-weight: 700;
}

.card-desconto a {
    color: #FFFFFF;
}

.card-parcelas {
    font-size: 12px;
    color: #303030;
    margin-bottom: 16px;
    font-family: Nunito sans;
    font-weight: 400;
}

.card-parcelas-span {
    font-family: Nunito sans;
    font-weight: 700;
    color: #303030;
}

.card-buttom {
    width: 100%;
    background-color: #005CFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: none;
}

.carrossel-btn.prev {
    left: -5px;
}

.carrossel-btn.next {
    right: -4px;
}

.carrossel-btn:disabled {
    cursor: not-allowed;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
}

.radio-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}


.slideshow-container {
    position: relative;
    width: 10%;
    max-width: 100px;
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
}

.slide.active {
    display: block;
    background-color: #f0f0f0;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.controls {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.radio-btn {
    width: 7px;
    height: 7px;
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-btn.active {
    background-color: #303030;
}

.content-mug {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-top: 78px;
    margin: 78px auto;
}

.mug {
    background-color: #C2C2C2;
    width: 658px;
    height: 742px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito sans;
    top: 550px;

}

.mug img {
    width: 823px;
    height: 628px;
    object-fit: contain
}

.mug-text {
    display: flex;
    flex-direction: column;
    font-family: Nunito sans;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 40%;
}

.mug-tittle {
    display: flex;
    flex-direction: column;
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
    align-self: flex-start;
}

.mug-description {

    margin-bottom: 20px;
    text-align: justify;
    hyphens: auto;
    font-family: Nunito sans;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 5%;
}

.content-information {
    background-color: #DEDEDE;
    font-family: Nunito Sans, sans-serif;
    display: flex;
    align-items: center;
    /* Centraliza os itens verticalmente */
    justify-content: space-between;
    /* Distribui os itens corretamente */
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 60px 20px;
    box-sizing: border-box;
}

.information {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
}

.information h1 {
    font-weight: 700;
    font-size: 30px;
    color: #4F4F4F;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
}

.information-content {
    display: flex;
    align-items: center;
    /* Alinha os ícones com os textos */
    margin-bottom: 45px;
    padding: 15px 0px;
    padding-right: 50px;
    margin-right: 80px;
}

.information-content img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.information-text {
    color: #4F4F4F;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 0;
}

.information-img {
    flex: 1;
    /* Faz a imagem ocupar o espaço restante */
    display: flex;
    justify-content: center;
    /* Centraliza a imagem */
    align-items: center;
}

.information-img img {
    max-width: 200%;
    height: auto;
    object-fit: contain;
    width: 652px;

}

.teste {
    background-color: #DEDEDE;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contat {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top: 50px;
}


.contat-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #005CFF;
    color: white;
    padding: 40px 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: Nunito sans;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-size: 30px;
}


.register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1260px;
    height: 176px;
    background-color: #DEDEDE;
    border-radius: 8px;
}

.register-inputs {
    display: flex;
    gap: 30px;
}

.register-input {
    width: 280px;
    height: 48px;
    border-radius: 8px;
    color: #303030;
    border: none;
    background-color: #FFFFFF;
    padding-left: 24px;
}

.register-input::placeholder {
    color: #303030;
    font-weight: 400;
    font-family: Nunito sans;
    left: 24px;
}

.register-button {
    background-color: #005CFF;
    width: 121px;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 14px;
    color: #FFFFFF;
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.register-text {
    font-family: Nunito sans;
    font-weight: 700;
    color: #656565;
    font-size: 12px;
}

.register-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.register-text a {
    color: #656565;
}

.register-checkbox {
    -moz-appearance: none;

    width: 16px;
    height: 16px;
    background-color: white;
    border: none;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.register-checkbox:checked {
    background-color: #005CFF;
    border-color: #303030;
}

.register-checkbox:checked::after {
    content: '✔';
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    margin-top: 44px;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 28px;
    font-family: Nunito sans;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}

.register-span {
    color: #005CFF;
}

.mobile-menu-btn {
    display: none;
}



footer {
    background-color: #f5f5f5;
    padding: 40px 0;
    width: 100%;
    font-family: Nunito sans;
    margin-top: 60px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-logo {
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 80px;
}

.social-icons {
    display: flex;
    gap: 29px;
    margin-top: 25px;
}

.social-icons a {
    width: 24px;
    height: 24px;
    padding: 12px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    padding-right: 50px;
    margin-top: 15px;
}

.column {
    flex: 1;
    min-width: 150px;
}

.column h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
}

.column strong {
    color: #000;
}

.column ul li a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

.column ul li a:hover {
    color: #000;
}

.footer-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    gap: 30px;
    margin-top: 20px;
}

.footer-payment img {
    height: 18px;
    width: 26px;
}

.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.tag {
    font-family: Nunito sans;
    line-height: 1.6;
    font-weight: 400;
    font-size: 12px;
    white-space: pre-line;
}

.tags-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 100px;

}

.tags-logos img {
    width: 48px;
    height: 38px;
    margin-bottom: 100px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: #F5F5F5;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1001;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 16px 0;
    margin-top: 18px;
}

.sidebar ul li a {
    text-decoration: none;
    font-family: Nunito sans;
    font-weight: 600;
    color: #333;
}

.sidebar.open {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: none;
}

.overlay.active {
    display: block;
}

.menu-category-sidebar {
    all: unset;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    display: inline;
    font-weight: 700;
    font-family: Nunito sans;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #005CFF;
}

.menu-categories {
    position: fixed;
    top: 0;
    left: 260px;
    width: 260px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    flex: 1;
    padding: 20px;
    display: none;
}

.sidebar.open~.menu-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* ============== MOBILE STYLES (max-width: 767px) ============== */
@media (max-width: 767px) {

    /* ----- GERAL ----- */
    body {
        font-size: 14px;
        line-height: 1.4;
    }

    .departments-menu {
        display: none;
    }

    /* ----- HEADER ----- */
    .top-bar {
        padding: 5px 0;
        text-align: center;
        height: auto;
    }


    .header {
        display: flex;
        flex-direction: column;
    }

    .main-header {
        display: grid;
        grid-template-areas:
            "menu logo cart"
            "search search search";
        grid-template-columns: 40px 1fr 40px;
        align-items: center;
        padding: 10px 15px 5px;
        gap: 10px;
        width: 100%;
    }

    .left-side {
        grid-area: logo;
        justify-self: center;
    }


    .left-side img {
        width: 148px;
        height: 26px;
    }


    .content {
        font-size: 10px;
        display: flex;

    }

    .cart {
        grid-area: cart;
        justify-self: end;
        width: 25px;
        height: 24px;
        padding-right: 35px;
        margin-top: -10px;
    }

    .search-bar {
        grid-area: search;
        width: 150%;
        margin-top: 5px;
    }

    .search-bar input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 11px;
        border: 1px solid #ddd;
        font-size: 14px;
    }

    .search-bar button {
        position: absolute;
        right: 230px;
        top: 31%;
        transform: translateY(-50%);
        background: none;
        border: none;
    }

    .mobile-menu-btn {
        display: block;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        padding: 0;
        justify-self: start;
        order: -1;
    }

    .mobile-menu-btn::before {
        content: "☰";
        font-size: 50px;
        position: absolute;
        top: 30%;
        left: 55%;
        transform: translate(-50%, -50%);
        line-height: 1;
    }

    .right-side {
        gap: 15px;
    }

    .profile {
        display: none;
    }

    /* ----- BANNER PRINCIPAL ----- */
    .super-sale {
        flex-direction: flex;
        width: 100%;
        height: 306px;
    }

    .super-sale-img {
        margin: 0 auto;
        width: 80%;
        padding-top: 20px;
    }

    .super-sale-img img {
        width: 225px;
        height: 206px;
        display: block;
    }

    .super-sale-content {
        margin-left: 0;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .super-sale-tittle {
        font-size: 40px;
        line-height: 1;
    }

    .super-sale-tittle span {
        font-size: 40px;
        display: block;
    }

    .super-sale-content h2 {
        font-size: 12px;
        letter-spacing: 3px;
        margin: 10px 0;
        color: #005CFF;
        text-transform: uppercase;
    }

    .super-sale-price {
        font-size: 32px;
        margin-top: 5px;
    }

    /* ----- SEÇÃO DE LANÇAMENTOS ----- */
    .carrossel-container {
        padding: 0 15px;
        margin-top: 30px;
    }

    .carrossel-container h2 {
        font-size: 18px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carrossel-container h2::after {
        content: "Ver mais";
        font-size: 14px;
        color: #005CFF;
        font-weight: normal;
    }

    .carrossel {
        gap: 15px;
        padding-bottom: 10px;
    }

    .carrossel .card-lancamento {
        width: 200px;
        height: 426px;
        padding: 10px;
    }

    .card-img {
        width: 158px;
        height: 158px;
    }

    .card-desconto a {
        text-decoration: none;
    }

    .content-mug {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }

    .mug {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120%;
        height: 400px;
    }

    .mug-tittle {
        text-align: left;
        font-size: 24px;
    }

    .mug img {
        width: 391px;
        height: 390px;
    }

    .mug-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding: 30px 5px;
        width: 90%;
        height: 20%;
    }

    /* ----- SEÇÃO DE INFORMAÇÕES ----- */
    .content-information {
        padding: 30px 20px;
        margin-top: -20px;
        flex-direction: column-reverse;
        width: 110%;
    }

    .information {
        width: 100%;
        padding: 0;
    }

    .information h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .information-content {
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 130%;
    }

    .information-content img {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        flex-shrink: 0;
    }

    .information-text {
        font-size: 12px;
        font-weight: 700;
        width: 276px;
    }

    .information-img {
        margin-bottom: 30px;
    }

    .information-img img {
        width: 100%;
    }

    .contat img {
        width: 500px;
        height: 449px;
        position: relative;
    }

    .contat-text {
        height: 75px;
        text-align: center;
        font-size: 15px;
        width: 120%;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .register-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .register {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background-color: #F5F5F5;
    }

    .register-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .register-input {
        width: 90%;
        margin-left: 20px;
    }

    .register-checkbox {
        margin-left: 25px;
    }

    .register-button {
        width: 90%;
        height: 48px;
        margin-left: 20px;
    }

    /* .footer-container {
        display: flex;
        flex-direction: column;
        width: 391px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
    }

    .column ul {
        display: none;
    }

    .column h4 {
        font-size: 19px;
        font-weight: 700;
    } */

    .footer-container {
        width: 100%;
        background: #f5f5f5;
      }
    
      .footer-links {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-self: flex-start;
        width: 100%;
        margin-left: 20px;

      }
    
      .footer-logo {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 40px;
      }
    
      .footer-logo img {
        width: 152px;
        height: 27px;
      }
    
      .social-icons {
        justify-content: center;
        margin-top: 15px;
        gap: 40px;
      }
    
      .social-icons img {
        width: 20px;
        height: 20px;
      }
    
      .column {
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        width: 105%;
      }
    
      .column h4 {
        font-size: 18px;
        margin-bottom: 15px;
        cursor: pointer;
        position: relative; 
      }
    
      .column h4::after {
        content: "+";
        font-size: 20px;
        color: #333;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    
      .column h4.active::after {
        content: "-";
      }
    
      .column ul {
        display: none;
        margin-top: 10px;
      }
    
      .column ul.active {
        display: block;
      }
    
      .column li {
        margin-bottom: 10px;
        font-size: 14px;
        color: #666;
      }
    
      .column li strong {
        color: #333;
      }
    
      .footer-payment {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 40px;
        gap: 20px;
      }
    
      .footer-payment img {
        height: 18px;
        width: 26px;
      }  
      
      .tags-logos {
        gap: 45px;
      }

      .sidebar {
        position: fixed;
        top: 0;
        left: -320px; /* atualize para a nova largura total */
        width: 320px; /* 160 + 160 */
        height: 100%;
        background-color: transparent; /* transparente porque as cores já estão nos filhos */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: 1001;
        display: flex;
        flex-direction: column;
    }
    
    .sidebar.open {
        left: 0;
    }
    
    .menu-content {
        display: flex;
        height: 52%;
        width: 100%;
    }
    
    .menu-departament {
        width: 160px;
        background-color: #ccc;
        padding: 20px;
    }

    .menu-categories {
        top: 20px;
        left: 170px;
        width: 180px;
        height: 50.5%;
        background-color: #FFFFFF;
        flex: 1;
        z-index: 10;
        padding: 20px;
        display: none;
    }
    
    .categories {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .super-sale {
      position: relative;
      max-width: 1500px;
      margin: 0 auto;
      padding: 60px 40px;
      width: 100%;
      margin-right: 40px;
    }
  
    .super-sale-img {
      max-width: 44%;
      box-sizing: border-box;
      margin-left: -60px;
    }
  
    .super-sale-content {
      max-width: 95%; 
      padding-left: -90px; 
    }
  }
